.main{
	width: 960px;
}

.people {
    margin: 0;
    padding: 0;
}

.people .person {
    float: left;
    width: 165px;
    height: 275px;
    background: white;
    list-style: none;
    padding: 0;
    margin: 0 37.5px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #d1d1d1;
}

.people .person img {
    float: left;
    width: 165px;
    height: 165px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.people .person p {
    width: 165px;
    float: left;
    margin: 10px;
    padding: 0;
    font-size: 22px;
}

.people .person p strong {
    width: 100%;
    display: block;
}

.people .person p a {
    display: block;
    color: #4994cf;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: -6px;
}

.people .person .person-details{
    padding: 10px;
    margin: 0 0 5px;
    text-align: center;
}

.people .person .person-details .social{
   margin: 0 auto;
}

.person-details .social a, .social a:hover{
    color: #000;
    border:0px;
    text-decoration:none;
}
